<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProgettoSDFlask - Index</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="/static/styles/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <div class="card" 
      data-tilt 
      data-tilt-reverse="false"
      data-tilt-speed="100"
      data-tilt-perspective="2000"
      data-tilt-max="10">
      <div class="card-top">
        <div class="card-form">
          <div class="title noselect">Account Search 👤🔍</div>
          <div class="header noselect">Enter the ID in the field below</div>
          <input type="text" id="input-id" class="input-id" />
          <button
            type="submit"
            onclick="getInput()"
            class="btn btn-primary noselect"
            id="button"
          >
            Search
          </button>
          <div class="notice red op0" id="notice">-------------</div>
        </div>
      </div>

      <div class="card-bottom">
        <div class="bottom-left" id="bottom-left">
          <table class="tb-left hide" id="tb-left">
            <tr>
              <th class="bold">Account ID:</th>
              <td><div class="acc-id" id="acc-id"></div></td>
            </tr>
            <tr>
              <th class="bold">Balance:</th>
              <td><div class="acc-balance" id="acc-balance"></div></td>
            </tr>
            <tr>
              <th class="bold">Creation Date:</th>
              <td><div class="acc-createdAt" id="acc-createdAt"></div></td>
            </tr>
            <tr>
              <th class="bold">Name:</th>
              <td><div class="acc-name" id="acc-name"></div></td>
            </tr>
            <tr>
              <th class="bold">Surname:</th>
              <td><div class="acc-surname" id="acc-surname"></div></td>
            </tr>
          </table>
        </div>
        <div class="bottom-right" id="bottom-right">
          <table class="tb-right" id="transactions-table"></table>
        </div>
      </div>
    </div>

    <div class="credits noselect">
      <div class="c1">[ Frontend ← <a href="https://github.com/unimibYNGX">@unimibYNGX</a> ]</div>
      <div> </div>
      <div class="c2"> [ Backend ← <a href="https://github.com/washedDragonyx">@washedDragonyx</a> ]</div>
    </div>

    <script src="{{ url_for('static',filename='styles/scripts.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/vanilla-tilt.min.js') }}"></script>
  </body>
</html>
