<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProgettoSDFlask</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <!-- solo per yang! test locale "offline" -->
    <!-- <link href="/templates/styles.css" rel="stylesheet"> -->

    <link href="/static/styles/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
  </head>
  <body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>   -->
    <!-- <form method="GET" action="/register" class="m-5">
        <button type="submit" class="btn btn-primary">Register Account</button>
    </form> -->
    <!-- 
      to do: index.html
        textbox with button
     -->
    <div class="card">
      <div class="card-top">
        <div class="card-form">
          <!-- <form method="GET" action="/api/account" class="form"> -->
          <input type="text" id="input-id" class="input-id" />
          <button type="submit" onclick="getInput()" class="btn btn-primary">
            Invia
          </button>
        </div>
      </div>

      <div class="card-bottom">
        <div class="bottom-left">
          <table class="tb-left">
            <tr>
              <th>ID Account:</th>
              <td><div class="acc-id" id="acc-id"></div></td>
            </tr>
            <tr>
              <th>Saldo:</th>
              <td><div class="acc-balance" id="acc-balance"></div></td>
            </tr>
            <tr>
              <th>Data di creazione:</th>
              <td><div class="acc-createdAt" id="acc-createdAt"></div></td>
            </tr>
            <tr>
              <th>Nome:</th>
              <td><div class="acc-name" id="acc-name"></div></td>
            </tr>
            <tr>
              <th>Cognome:</th>
              <td><div class="acc-surname" id="acc-surname"></div></td>
            </tr>
          </table>
        </div>
        <div class="bottom-right">
          <table class="tb-right" id="transactions-table">

          </table>
        </div>
      </div>
    </div>

    <script>

      function populate(trs) {
        var table = document.getElementById("transactions-table");

        var rowNode = document.createElement("tr");
        var cellNode = document.createElement("td");
        var cellNode2 = document.createElement("td");
        var textNode = document.createTextNode("Transactions: ");

        cellNode.appendChild(textNode);
        rowNode.appendChild(cellNode);
        table.appendChild(rowNode);

        console.log(trs)

        for(let i = 0; i < trs.length; i++) {
          console.log(trs[i])

          // rowNode.innerHTML = "";
          // cellNode.innerHTML = "";
          // cellNode2.innerHTML = "";
          // textNode.innerHTML = "";

          var rowNode = document.createElement("tr");
          var cellNode = document.createElement("td");
          var cellNode2 = document.createElement("td");
          var divNode = document.createElement("div")
          var divNode2 = document.createElement("div")
          
          textNode = document.createTextNode("Transaction n°" + i)
          textNode2 = document.createTextNode("Amount: " + trs[i].amount)

          divNode.appendChild(textNode2)
          cellNode.appendChild(textNode); // <td> Transaction n°1 </td>
          cellNode2.appendChild(divNode); // <td> Amount: 30 </td>
          rowNode.appendChild(cellNode); // <tr> <td> Transaction n°1 </td> </tr>
          rowNode.appendChild(cellNode2); // 

          textNode2 = document.createTextNode("Destinatario: " + trs[i].receiver + "\n")

          divNode2.appendChild(textNode2)
          cellNode2.appendChild(divNode2);

          console.log(rowNode)
          table.appendChild(rowNode);

          // rowNode.appendChild(cellNode);

        }

      }

      // function resetNodes() {
      //   rowNode.innerHTML = "";
      //   cellNode.innerHTML = "";
      //   cellNode
      //   textNode.innerHTML = "";
      //   rowNode = document.createElement("tr");
      //   cellNode = document.createElement("td")
      // }

      function httpGet(theurl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theurl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
      }

      function getInput() {
        var url =
          "http://127.0.0.1:5000/api/account/" +
          document.getElementById("input-id").value;
        var content = httpGet(url);
        // console.log(content);

        var parsed = JSON.parse(content);

        console.log(parsed);

        var id = document.getElementById("acc-id");
        var balance = document.getElementById("acc-balance");
        var createdAt = document.getElementById("acc-createdAt");
        var name = document.getElementById("acc-name");
        var surname = document.getElementById("acc-surname");

        id.innerHTML = "";
        balance.innerHTML = "";
        createdAt.innerHTML = "";
        name.innerHTML = "";
        surname.innerHTML = "";

        var temp = document.createTextNode(parsed.AccountID);
        id.appendChild(temp);

        temp = document.createTextNode(parsed.Balance);
        balance.appendChild(temp);

        temp = document.createTextNode(parsed.CreatedAt);
        createdAt.appendChild(temp);

        temp = document.createTextNode(parsed.Name);
        name.appendChild(temp);

        temp = document.createTextNode(parsed.Surname);
        surname.appendChild(temp);

        populate(parsed.Transactions)
      }
    </script>
  </body>
</html>
