<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProgettoSDFLask - Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="/static/styles/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/css/styles.css') }}"
    />
  </head>
  <body>
    <div class="nav">
      <div class="ntransfer">
        <a href="http://127.0.0.1:5000/">[ Account Search ]</a>
        <a href="http://127.0.0.1:5000/transfer">[ Transfer ]</a>
      </div>
    </div>

    <div
      class="flip-card"
      id="flip-card"
      data-tilt
      data-tilt-reverse="false"
      data-tilt-speed="100"
      data-tilt-perspective="2000"
      data-tilt-max="1.5"
    >
      <div class="flip-card-inner">
        <div class="card card-tr flip-card-front" id="card-front">
          <div class="card-top card-top-tr">
            <div class="card-form card-form-tr">
              <div class="title noselect">Register 👤➕</div>
              <div class="notice op0">-------------</div>

              <div class="header header-tr noselect">Name</div>
              <input
                type="text"
                id="input-name"
                class="input-id input-id-sender input-name"
                onkeyup="checkLength('input-name', 'error-name', 'name')"
              />
              <div class="notice red op0" id="error-name">-------------</div>
              <div class="header header-tr noselect">Surname</div>
              <input
                type="text"
                id="input-surname"
                class="input-id input-id-receiver input-surname"
                onkeyup="checkLength('input-surname', 'error-surname', 'surname')"
              />
              <div class="notice red op0" id="error-surname">
                -------------
              </div>
              <button
                type="submit"
                onclick="sendRegister()"
                class="btn btn-primary noselect"
                id="button"
              >
                Send
              </button>
            </div>
          </div>
        </div>
        <div class="card card-tr flip-card-back">
          <div class="card-top card-top-tr">
            <div class="title noselect" id="title"></div>
            <div class="alert noselect" id="alert"></div>
            <button
              type="submit"
              onclick="flipCard('flip-card'), resetRegister()"
              class="btn btn-primary btn-tr noselect"
            >
              Go back
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="credits noselect">
      <div class="c1">
        <a href="https://github.com/unimibYNGX">[ @unimibYNGX ]</a> 
      </div>
      <div></div>
      <div class="c2">
        <a href="https://github.com/washedDragonyx">[ @washedDragonyx ]</a> 
      </div>
    </div>

    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/vanilla-tilt.min.js') }}"></script>
  </body>
</html>
