<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ProgettoSDFLask - Transfer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link href="/static/styles/css/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/css/styles.css') }}"
    />
  </head>
  <body>
    <div class="nav">
      <div class="ntransfer">
        <a href="http://127.0.0.1:5000/">[ Account Search ]</a>
        <a href="http://127.0.0.1:5000/register">[ Register ]</a>
      </div>
    </div>

    <div
      class="flip-card"
      id="flip-card"
      data-tilt
      data-tilt-reverse="false"
      data-tilt-speed="100"
      data-tilt-perspective="2000"
      data-tilt-max="1.5"
    >
      <div class="flip-card-inner">
        <div class="card card-tr flip-card-front" id="card-front">
          <div class="card-top card-top-tr">
            <div class="card-form card-form-tr">
              <div class="title noselect">Transfer 💸🤝🏻</div>
              <div class="notice op0">-------------</div>
              <div class="header header-tr noselect">Sender ID</div>
              <input
                type="text"
                id="input-id-sender"
                class="input-id input-id-sender"
                onkeyup="checkLength('input-id-sender', 'error-sender', 'ID')"
              />
              <div class="notice red op0" id="error-sender">-------------</div>
              <div class="header header-tr noselect">Receiver ID</div>
              <input
                type="text"
                id="input-id-receiver"
                class="input-id input-id-receiver"
                onkeyup="checkLength('input-id-receiver', 'error-receiver', 'ID')"
              />
              <div class="notice red op0" id="error-receiver">
                -------------
              </div>
              <div class="header header-tr noselect">Amount</div>
              <input
                type="number"
                min="0.01"
                id="input-amount"
                class="input-id input-amount"
                onkeyup="checkAmount('input-amount', 'error-amount')"
              />
              <div class="notice red op0" id="error-amount">-------------</div>
              <button
                type="submit"
                onclick="sendTransfer()"
                class="btn btn-primary noselect"
                id="button"
              >
                Send
              </button>
            </div>
          </div>
        </div>
        <div class="card card-tr flip-card-back">
          <div class="card-top card-top-tr">
            <div class="title noselect" id="title"></div>
            <div class="alert noselect" id="alert"></div>
            <button
              type="submit"
              onclick="flipCard('flip-card'), resetTransfer()"
              class="btn btn-primary btn-tr noselect"
            >
              New transaction
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="credits noselect">
      <div class="c1">
        <a href="https://github.com/unimibYNGX">[ @unimibYNGX ]</a> 
      </div>
      <div></div>
      <div class="c2">
        <a href="https://github.com/washedDragonyx">[ @washedDragonyx ]</a> 
      </div>
    </div>

    <script src="{{ url_for('static',filename='styles/js/scripts.js') }}"></script>
    <script src="{{ url_for('static',filename='styles/js/vanilla-tilt.min.js') }}"></script>
  </body>
</html>
