@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Epilogue", sans-serif;
  transition: 0.2s ease;
}

:root {
  --almost-white: hsl(0, 0%, 98%);
  --box-shadow: 0px 1px 90px -50px rgb(22, 22, 69);
  --background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  --background-image-lighter: linear-gradient(
    rgb(191, 146, 228),
    rgb(134, 134, 224)
  );
  --lightgrey: hsl(217, 12%, 63%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(230, 239, 246);

  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 750px;
  background-color: white;

  border-radius: 25px;
  border: none;
  box-shadow: var(--box-shadow);
  flex-wrap: wrap;
  padding: 30px;
  flex-direction: column;
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
}

.form {
  display: flex;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.card-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 400px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 16px;
  justify-content: center;
  /* padding-bottom: 60px; */
  margin-bottom: 35px;
}

.card-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80%;
  background-color: rgba(220, 220, 220, 0.451);
  border-radius: 20px;
  box-shadow: rgba(67, 67, 75, 0.2) 0px 7px 29px 0px;
  justify-content: left;
  padding: 20px;
}

.card-results {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  text-align: left;
  flex-direction: column;
  font-size: 10px;
  padding: 20px;
}
.acc-row {
  width: 100%;
}

button[type="submit"] {
  outline: none;
  border: none;
  border-radius: 10px;
}

input[name="input-id"] {
  border: none;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

table,
th,
td {
  border: 1px 2solid black;
}

.bold {
  font-weight: 700;
}

th {
  font-weight: 500;
}

.input-id {
  margin-right: 20px !important;
}

button[type="submit"]:hover {
}

.bottom-left {
  display: flex;
  height: 100%;
  width: 50%;
  font-size: 14px;
}

.bottom-right {
  display: flex;
  height: 100%;
  width: 80%;
  overflow: scroll;
  justify-content: right;
  font-size: 12px;
}

.tb-left {
  height: fit-content;
}

.tb-right {
  height: fit-content;
}

td {
  vertical-align: text-top;
}

.hide {
  display: none;
}

.border-red {
  border: 1.5px solid red;
}

.header, .error {
  font-size: 15px;
}

.notice {
  justify-content: center;
  text-align: center;
  /* color: red; */
  width: 100%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.op0 {
  opacity: 0;
}

/* transfer */

.card-top-tr {
  height: fit-content;
  flex-wrap: wrap;
}

.header-tr {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.input-id-sender, .input-id-receiver {
  margin: 0!important;
}

.input-amount {
  text-align: center;
}

.card-tr {
  height: fit-content;
  width: fit-content;
}

.flip-card {
  perspective: 1000px;
  height: 500px;
  width: 500px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-flip .flip-card-inner {
  transform: rotateY(180deg);
} 

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.alert {
  width: 100%;
}

.btn-tr {
  width: 60%;
}

.title {
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}